@font-face {
    font-family: 'RedRose';
    src: url("./fonts/RedRose-Regular.ttf");
}
@font-face {
    font-family: 'Monument';
    src: url("./fonts//MonumentExtended-Regular.otf");
}
/*HEADER*/

body{
    font-family: 'RedRose';
    margin: 0;
    overflow-x:hidden;
    width: 100%;
    background-color: #101010;
    
    
    
  
}
.header-container{
    display: flex;
    
    
    justify-content: center;
}
.header-nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    max-width: 1920px;
    background-color: #101010;
    padding:30px 150px;
    z-index: 999;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

.header-logo{
    display: flex;
    text-decoration: none;
    color: #FFF;
    font-family: 'Monument';
}
.header-logo-text{
    margin: 0;
   display: flex;
   align-items: center;
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 44px;
   text-align: center;
   letter-spacing: 0.02em;
   margin-left: 13px;

}
.header-nav{
   display: flex;
   column-gap: 40px;
   align-items: center;
   margin: 0 50px;
  
}
.header-link{
    text-decoration: none;
    color: #FFF;
    align-items: center;
    text-align: center;
    column-gap: 20px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
}
.header-button{
    display: flex;
    align-items: center;
}
.head-btn{
   
    height: 50px;
    
    border-radius: 50px;
    border: none;
    font-family: 'RedRose';
    
}



.head-btn {
    --green: #52ffe0;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(17, 234, 245, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
   }
   
   .head-btn:hover {
    color: #89ffac;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
   }
   
   .head-btn:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
   }
   
   .head-btn:hover:before {
    transform: translateX(15em);
   }


/*FIRST*/
.first-container{
    display: flex;
    justify-content: space-between;
    margin:120px 150px;
    max-width: 1920px;

}
.first-adp{
    
    display: flex;
    justify-content: center;
}

.header-info-container{
    color: #FFF;
}

.header-name{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.04em;
    font-family: 'Monument';
    margin: 170px 0 0 0;
}

.header-text{
    font-family: 'Monument';
    font-weight: 400;
    font-size: 76px;
    line-height: 86px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 16px 0 70px 0;
    

}
.header-icon{
  display: flex;
  column-gap: 54px;
  
   
}
.icon{
    display: flex;
    column-gap: 12px;
}

.header-btn{
    width: 150px;
    height: 65px;
    background: #52FFE0;
    

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    font-family:'RedRose' ;
    border: none;
}

.header-btn {
    perspective: 1000px;
    padding: 1em 1em;
    background: linear-gradient(#59edd3, #59edd3);
    border: none;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0 10px 10px #464646;
    cursor: pointer;
    transform: rotateX(56deg) rotateZ(20deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
   }
   
   .header-btn::before {
    content: "";
    width: 100%;
    height: 15px;
    background-color: #237869;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
   }
   
   .header-btn::after {
    content: "";
    width: 15px;
    height: 100%;
    background-color: #237869;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
   }
   
   .header-btn:hover {
    transform: rotateX(30deg) rotateZ(0);
   }
   



















.header-group-info{
    display: flex;
    width: 510px;
    justify-content: space-between;
}


.info-up-text{
    font-family: 'Monument';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 0 10px 0;
}

.info-up-down{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #818698;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0;
}



.header-img-container img{
    margin: 40px 0 0 100px;
    box-shadow: 1px 1px 80px 15px #322269;
    border-radius: 180px;
}

.play-icon{
    position: absolute;
    left: 50%;
    top: 750px;
    transform: translate(-50%,0);
}







/*SECOND*/
.second-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.second-name{
    margin: 0 0 75px 0;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Monument';
    
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}


/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
/*Стили для демонстрации*/

.wrapper{
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
    column-gap: 10px;
}


@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

/* Основные стили */


.slider-adp{
    display: flex;
    justify-content: center;
}
/* Слайдер */
.slick-slider{
	min-width: 0;
    max-width: 1920px;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{
   
}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider,.slider-2 {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider,.slider-2 {
		padding: 0px 40px;
	}
}

.slider .slick-arrow,.slider-2 .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev,.slider-2 .slick-arrow.slick-prev{
	left: 1.5%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    top: 40%;
    background-image: url(./img/Vectorleft.png) ;
    background-repeat: no-repeat;
    background-position: center;
   
    background-color: #2C2D31;
}
.slider .slick-arrow.slick-next,.slider-2 .slick-arrow.slick-next{
	right: 2.7%;
    top: 40%;
	border-radius: 50%;
    width: 70px;
    height: 70px;
    background-image: url(./img/Vectorleft.png) ;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
    background-color: #2C2D31;
}
.slider .slick-arrow.slick-disabled,.slider-2 .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots,.slider-2 .slick-dots{
	display: flex;                      /* DISPLAY FLEX IN ADP*/
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li,.slider-2 .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button,.slider-2 .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button,.slider-2 .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}


.slider__item {
	padding: 10px 23px;
    border-radius: 50px;
    width:245px ;
    background: #2C2D31;
    margin-right: 30px;
}



.slider-card-name{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    padding: 50px 5px 50px 5px;
}
.slider__item img{
	max-width: 100%;
    margin: 10px 0 0 0px;
}
.slider__item.slick-center{
	
}

/*THIRDTH*/


#wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 150px 0 150px;
    row-gap: 30px;
}



.appartments-item{
    background-color:#2C2D31 ;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    width: 520px;
    padding: 10px 40px 10px 10px;
    align-items: center;
}
.person-group{
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.person-name-up{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFF;
}

.person-name-down{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #818698;
}

.person-info-up{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
}

.person-info-middle{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #818698;
}

.person-info-down{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #52FFE0;
}

.thirth-info{
   display: flex;
   justify-content: space-between;
   margin: 0 150px  65px 150px;
}
.thirth-info p{
    font-family: 'Monument';
    font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFFFFF;
}

/*RadioBtn*/
div.btn-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.btn-container i{
    display: inline-block;
    position: relative;
    top: -9px;
}

label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}

.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
    width: 300px;
    height: 70px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 300px;
    height: 65px;
   
    border-radius: 26px;
    overflow: hidden;
    
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
    background: #2C2D31;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 20px;
    right: 50px;
    color: #FFFFFF;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    width: 150px;
    height: 60px;
    background: #191919;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 20px 0px;
    color: #FFFFFF;
}

.btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
    
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #2C2D31;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 148px;
    background:  #1D1E22;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 50px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    /*background: #66BB6A; */
    /*color: #fff;*/
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}

/*mode preview*/
.dark-preview{
    background: #0d0d0d;
}

.dark-preview div.btn-container i.fa-sun-o{
    color: #777;
}

.dark-preview div.btn-container i.fa-moon-o{
    color: #fff;
    text-shadow: 0px 0px 11px #fff;
}

.white-preview{
    background: #fff;
}

.white-preview div.btn-container i.fa-sun-o{
    color: #ffa500;
    text-shadow: 0px 0px 16px #ffa500;
}

.white-preview div.btn-container i.fa-moon-o{
    color: #777;
}

p.by {
    
}

p.by a{
    text-decoration: none;
    color: #000;
}

.dark-preview p.by a{
    color: #777;
}

.white-preview p.by a{
    color: #000;
}



.thirth-btn{
    background: #52FFE0;
border-radius: 50px;
   
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.02em;
    
    color: #2C2D31;
    
}
.thirth-container{
   
    background-color:#1D1E22 ;
    display: flex;
    justify-content: center;
   
   
}

.thirth-adp{
    
    padding: 137px 0 86px 0;
    max-width: 1920px;
}
.thirth-btn-container{
    display: flex;
    justify-content: center;
    margin:  75px  0 0 0;
}


.thirth-btn {
 padding: 0.8em 1.8em;
 border: 2px solid #17C3B2;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 
 transition: .3s;
 z-index: 1;
 
 color: #17C3B2;
}

.thirth-btn::before {
 content: '';
 width: 0;
 height: 420%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #17C3B2;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

.thirth-btn:hover::before {
 width: 105%;
}

.thirth-btn:hover {
 color: #111;
}


























/*FOURTH*/


.slider__item-2 {
	
    border-radius: 50px;
   
    background: #2C2D31;
    margin-right: 30px;
}
.slider__item-2 img{
	max-width: 100%;
    margin: 0;
    width: 100%;
}

.fourth-slider{
    display: flex;
    justify-content: center;
}
.slider-2-cart{
    background-color: #1D1E22;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 200px;
    color: #FFF;
}
.cart-2-container-down{
    display: flex;
    justify-content: space-between;
    margin: 42px 10px;
    padding: 0 20px;
    border-radius:20px; 
    background: #2C2D31;
    height: 80px;
    align-items: center;
    
}

.cart-2-container-up{
    padding: 16px 0 0 15px;
}
.cart-2-name{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    
    letter-spacing: 0.04em;
}

.cart-2-num{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    
    letter-spacing: 0.04em;
}

.cart-2-container-down-up{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    
    color: #999999;
}

.cart-2-container-down-down{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}

.fourth-name{
    font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* identical to box height */
font-family: 'Monument';
letter-spacing: 0.04em;
text-transform: uppercase;
display: flex;
justify-content: center;
color: #FFFFFF;
margin: 120px 0 72px 0;
}

.fourth-container{
  



}

.fourth-container-adp{
    
    height: 850px;
    
     
}


/*FIFTH*/


.fifth-container-adp{
        
        display: flex;
        justify-content: center;
        background-color:#1D1E22 ;
}

.fifth-container{
 
  width: 1920px;
    
}

.fifith-card-container-adp{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 40px;
    column-gap: 40px;
    
}
.fifth-card{
    width: 500px;
    
    
}
.under-img{
    display: flex;
    column-gap: 20px;
    margin: 32px 0 16px 0;
    
    align-items: center;
}



/*under-img-btn*/

.under-img-btn {
    position: relative;
    
    
    text-decoration: none;
    padding: 0.5em 1.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
   .under-img-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .under-img-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .under-img-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .under-img-btn::after {
    background-color: #fff;
   }
   
   .under-img-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }





.under-img-date{
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
}

.fifth-card-name{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #FFF;
}

/*Card-btn*/
.learn-more{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 30px;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin: 60px 0 140px 0;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.26rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #d3d3d3;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

   /*SIXTH*/
.sixht-container-adp{
    
    height: 530px;
    display: flex;
    justify-content: center;
}

.sixth-container{
    width: 100%
}

.sixth-block{
    background: #1D1E22;
    border: 1px solid #000000;
    border-radius: 50px;
    margin: 120px 150px;
    display: flex;
    height: 290px;
    align-items: center;
    padding: 0 50px;

    justify-content: space-between;
}

.sixth-name{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: #FFF;
    font-family: 'Monument';
    max-width: 630px;
    padding-left: 80px;
}



/*Apple-btn*/



.apple {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: .8em 4.5em .8em 4.5em;
    border: none;
    background: #2C2D31;
    transition: all 0.1s linear;
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 10px;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
   }
   
   .apple:active {
    transform: scale(0.95);
   }
   
   .apple span {
    color: #ffffff;
    position: relative;
    z-index: 999;
    width: 73px;
   }

   .apple img {
    color: #ffffff;
    position: relative;
    z-index: 999;
   }
   
   .apple .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 16em;
    height: 4em;
    transform: translate(-50%, -50%);
   }
   
   .apple:hover .border {
    display: block;
    width: 18.9em;
    height: 4.7em;
   }
   
   .apple {
    border-radius: 2em;
   }

   .six-container-btn{
    display: flex;
    column-gap: 80px;
    
   }




   .google {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: .8em 4.5em .8em 4.5em;
    border: none;
    background: #52FFE0;
    transition: all 0.1s linear;
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 10px;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
   }
   
   .google:active {
    transform: scale(0.95);
   }
   
   .google span {
    color: #000000;
    position: relative;
    z-index: 999;
    width: 73px;
   }

   .google img {
    color: #ffffff;
    position: relative;
    z-index: 999;
   }
   
   .google .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 16em;
    height: 4em;
    transform: translate(-50%, -50%);
   }
   
   .google:hover .border {
    display: block;
    width: 18.9em;
    height: 4.7em;
   }
   
   .google {
    border-radius: 2em;
   }

   /*SEVENTH*/
   .seventh-conatiner-adp{
    display: flex;
    justify-content: center;
    background-color: #1D1E22;
    padding-top: 75px;
   }

   .seventh-conatiner{
    width: 1920px;
   }

   .footer-line{
    display: flex;
    justify-content: space-around;
    color: #FFF;
    padding: 80px 0 50px 0;
   }

   .footer-container{
    display: flex;
    justify-content: space-around;
    color: #FFF;
    align-items: center;
    margin: 0 140px;
   }


   /*Footer-link-bnt*/
   .footer-link-btn {
    font-size: 16px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    display: block;
    margin-bottom: 5px;
  }
  

    #gol-name{
        font-weight: 400;
        font-size: 18px;
        font-family: 'Monument';
        margin-bottom: 20px;
    }

  .footer-link-btn:focus,
  .footer-link-btn:hover {
    color: #fff;
  }
  
  .footer-link-btn:focus:after,
  .footer-link-btn:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .footer-link-btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .footer-form{
    background-color: #52ffe0;
    width: 500px;
    height: 270px;
    border-radius: 30px;
  }

  .form-name{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    font-family: 'Monument';
    padding: 50px 80px;
    color: #1D1E22;
    align-items: center;
  }


    .footer-line-links{
        column-gap: 25px;
        display: flex;
    }

  /*form*/

  .input-group {
    position: relative;
    padding: 0 80px;
   }
   
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem 4.5rem;
    font-size: 1rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 110px;
    top: 0;
    color: #000;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }

   .send-img{
    position: absolute;
    left: 370px;
    top: 12px;
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #000000;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: rgb(31, 31, 31);
    padding: 0 1em;
    color: #ffffff;
    z-index: 999;
    border-radius: 10px;
   }


   /*ADP*/

   .btn-adp{
    display: none;
    cursor: pointer;
   }
   .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #FFF ;
   }

   li{
    list-style: none;
   }
   .nav-link{
    text-decoration: none;
    color: #FFF;
    transition: .7s ease;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 0.02em;
    
   }

   .nav-memu-adp{
    display: none;
    position: fixed;
    background-color: #1d1e22;
    padding: 200px 50px 0 50px;
    right: 0;
    top: 0;
   margin-top: 116px;
    
    height: 100%;
   }
   
   .nav-item{
    margin-bottom: 25px;
   }
   #last{
    margin-bottom: 100px;
   }
   .header-btn-adp{
    display: none;
   }
  
   






   .header-btn-adp-up {
    align-items: center;
    background-image: linear-gradient(144deg,#40a0ff, #2ff5eb 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: none;
    font-family: Phantomsans, sans-serif;
    font-size: 40px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 250px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   .header-btn-adp-up:active,
   .header-btn-adp-up:hover {
    outline: 0;
   }
   
   .header-btn-adp-up span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   .header-btn-adp-up:hover span {
    background: none;
   }
   
   .header-btn-adp-up:active {
    transform: scale(0.9);
   }
   .header-btn-adp{
    display: flex;
    justify-content: center;
   }

   #group-adp{
    display: none;
   }
   .group-adp-for-img{
    display: none;
   }
   .footer-up-name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 16px;
    
    text-align: center;
    
    color: #FFFFFF;
   }

   .footer-down-name{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    
    text-align: center;
    
    color: #E0E5F3;
   }

   .footer-info-adp{
    margin: 40px 0 0 0;
   }
   #footer-down-name-link{
    margin: 0 0 30px 0;
   }

   .footer-info{
    margin: 40px 0 15px 0;
   }

   .footer-adp-container{
    display: none;
   }

   .footer-line-text-adp{
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
    
    color: #E0E5F3;
   }
